<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="yangtsao.pebblemessengerpro" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <service
            android:name=".services.NotificationService"
            android:description="@string/accessibility_description"
            android:label="@string/app_name"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE" >
            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/accessibility_service_config" />
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
                <action android:name="android.intent.action.PHONE_STATE" />
            </intent-filter>
        </service>
        <service
            android:name=".services.MessageProcessingService"
            android:enabled="true"
            android:exported="true" >
        </service>
        <service
            android:name=".services.PebbleCenter"
            android:enabled="true"
            android:exported="true" >
        </service>

        <activity
            android:name=".activities.NavigationActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>
